@font-face{
    src : url('fonts/google/google_sans.ttf');
    font-family: google;
}
@font-face{
    src : url('fonts/comfortaa/comfortaa.ttf');
    font-family: google;
}

body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
    font-family: google;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    font-family: google;
}

header ul{
    padding:0;
    margin:0;
    font-family: google;
}

.button_1{
    height:25px;
    border:0;
    padding-left:20;
    padding-right:20;
    font-family: google;
   
}
.button_1:hover{
    border-radius:3px; 
    color:cornflowerblue;
    font-family: google;
}

.button_2{
    text-align:center;
    height:39px;
    border:5px;
    background-color:#000000; 
    color:#ffffff;
    padding-left:20;
    padding-right:20;
    width:397px;
    margin-bottom:20px; 
    font-family: google;
}

signin button:hover{
    color:#e8491d;
    
    font-family: google;
}

.dark{
    padding:15px;
    background:#0000008f;
    color:#ffffff;
    font-family: google;
    border-radius: 10px;
}
 .infopanel{
             width: auto;
            
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 25px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: left;
    margin: 10px;
            
            text-align: center;
    font-family: google sans;
            color:black;
        }


header{
    background:#000000;
    color:#ffffff;
    padding-top:30px;
    min-height:30px;
    font-family: google;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:20px;
    font-family: google;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
    font-family: google;
}

header #branding{
    float:left;
    font-size:15px; 
    font-family: google;
}

header #branding{
    margin-bottom:20px;
    padding: 0 40px 0 0; 
    font-family: google;
}

header nav{
    float:right;
    margin-top:20px;
    font-family: google;
}

header.highlight, header .current a{
    color:#e8491d;
    margin-top:10px;
    font-family: google;
}

header a:hover{
    color:#e8491d;
    
    font-family: google;
}
    
#showcase{
    min-height:265px;
    text-align:center;
    color:#ffffff;
    font-family: google;
}               

#showcase h1{
    margin-top:100px;
    font-size:40px;
    margin-bottom:15px;
    font-family: google;
}

#showcase p{
    font-size:15px;
}                                
                              
#newsletter{
    padding:15px;
    color:#ffffff;
    background:#000000;
}                       
                        
#newsletter h1{
    margin-top:8px; 
    float:right; 
    font-size:20px;
}
       
#newsletter form{
    margin-top:5px;
}    

#newsletter input[type="username"]{
    padding:4px; 
    height:15px;
    width:200px;
}

#newsletter input[type="password"]{
    padding:4px;
    height:15px;
    width:200px;
}

#newsletter input[type="email"]{
    padding:4px;
    height:15px;
    width:200px;
}

#signin input[type="username"]{
    margin-top:20px; 
    padding:10px;
    height:15px;
    width:400px;
}

#signin input[type="password"]{
    padding:10px;
    height:15px;
    width:220px;
}

#signin input[type="email"]{
    padding:10px;
    height:15px;
    width:400px;
}

#signin input[type="text"]{
    padding:10px;
    height:15px;
    width:400px;
}

#signin input[type="phone"]{
    padding:10px;
    height:15px;
    width:220px;
}

#signin {
    min-height:150px;
    color:#000000;
    background-size: 75% auto; 
    margin-bottom:20px; 
}

#boxes{
    margin-top:20px;
    font-size:15px; 
}

#boxes .box{
    float:left;
    text-align:center; 
    width:30%;
    padding:10px;
}

#boxes .box images{
    width:70px;
}

#heading1 {
    height:500px;
    padding-top:200px; 
    text-align:center;
    color:#ffffff;
    background-size:cover; 
    margin-bottom:20px; 
}

#heading2 {
    height:500px;
    padding-top:200px; 
    text-align:center;
    color:#ffffff;
    background-size:cover;
    margin-bottom:20px; 
}

#heading3 {
    height:500px;
    padding-top:200px; 
    text-align:center;
    color:#ffffff;
    background-size:cover; 
}

/* aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
    border-radius: 10px;
}

aside#sidebar .feedback input, aside#sidebar .feedback textarea{
    width:90%;
    padding:5px;
    border-radius: 10px;
} */
#sidebar{
    float: right;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    background-color: black;
}

article#main-col{
    float:left;
    width:65%;
}

ul#services li{
    list-style:none;
    padding:20px;
    border:#cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6; 
}

footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#0000007e;
    text-align:center;
    font-family: google;
}


















