/*
Fonts
*/
@font-face{
    src : url('fonts/montserrat/Montserrat-Medium.otf');
    font-family: Montserrat;
}
@font-face{
    src : url('fonts/Josefin_Sans/JosefinSans-Regular.ttf');
    font-family: Josefin;
}
@font-face{
    src : url('fonts/gotham/Gotham-Light.otf');
    font-family: gotham;
}
    @font-face{
    src : url('fonts/gotham/Gotham-Bold.otf');
    font-family: google;
}
@font-face{
    src : url('fonts/google_sans/GoogleSans-Regular.ttf');
    font-family: google;
}
/*
Styles
*/

* {
    box-sizing: border-box;
}
html,body {
    margin:0;
    
}

.header {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px;
    font-family: gotham;
    font-size: 30px;
    color:rgb(235, 13, 57);
}
.menu {
    padding: 2px;
    float: left;
    width: 25%;
    border: 0.5px solid black;
}
.body{
    padding: 2px;
    float: left;
    width: 100%; 
}
input[type=email],input[type=password],input[type=text],select,option,input[type=search]{
    text-align: center;
    width: auto;
    font-family:google;
    font-size: 17px;
    outline: none;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 4px;
    border : 1px solid gainsboro;
    transition: all 0.4s ease;
    
}
input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,select:focus,option:focus,input[type=search]:focus{
    border : 1px solid black;
}
.btn2{
    border : 1px solid gainsboro;
    
    background: #ffffff;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: google;   
    font-size: 18px;
}

.btn3 {
    border : 1px solid black;
    font-size: 30px;
    background: #ffffff;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: gotham;
}

.btn2:hover,.btn3:hover{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.3);
  
  
    
}

.col1 {width:10%;}
.col2 {width:20%;}
.col3 {width:30%;}
.col4 {width:40%;}
.col5 {width:50%;}
.col6 {width:60%;}
.col7 {width:70%;}
.col8 {width:80%;}
.col9 {width:90%;}
.col10 {width:100%;height:inherit;}
.colmod { width: 100%;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);background:#ccff99}

[class*="col"]{
    float: left;
    padding: 15px;
    font-size: 12px;
    padding-top: 0;
    font-family: 'Century Gothic';    
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.11);
}
.row:after {
    content: "";
    clear: both;
    display: block;    
}

.h3{
    font-family:'Consolas', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}
.h3:hover{
    text-decoration: underline;
}
.tablecontent{
    font-family:'Consolas', Courier, monospace;font-size: 20px;
}

.btn{
    border-radius: 5px;
    border: 2px solid black;
    padding-left:12px;
    padding-top:10px;
    padding-bottom:10px;
    width: auto;
    height: auto;
    font-family:'Consolas', Courier, monospace;
    font-size: 20px;
    
}
.img{
    height:140px;
    width:auto;
    
}
.img2{
    height:100px;
    width: auto;
    float:left;
}
.btn4{
    border : 1px solid gainsboro;
    background: #ffffff;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: google;   
    font-size:15px;
}
.warn {
    border: 1px solid #ffb3b3;
    border-radius: 3px;
    padding : 10px;
    background : #ffe6e6;
    font-family: google;
    color:#ff3333;
    font-size: 16px;
}

.topnav {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1); 
  font-family: google ;
  background: white;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
 
}
.nav2:hover {
  background-color: crimson;
  color: white;
}
.nav1:hover {
  background-color: #00cc66;
  color: white;
}
.nav3:hover {
  background-color: #148ad4;
  color: white;
}
.signup {
    border : 1px solid gainsboro;    
    background: #ffffff;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: black;
    text-decoration: none;
    font-family: google;   
    font-size: 18px;
}
.signup:hover {
     border : 1px solid #00cc66;  
    color: white;
    box-shadow: 0 4px 28px 0 rgba(0,0,0,0.1);  
    background: #00cc66;
}
.button_blue {
    border : 1px solid gainsboro;    
    background: #ffffff;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: black;
    text-decoration: none;
    font-family: google;   
    font-size: 18px;
}
.button_blue:hover {
     border : 1px solid #0066cc;  
    color: white;
    box-shadow: 0 4px 28px 0 rgba(0,0,0,0.1);  
    background: #0066cc;
}
.button_red {
    border : 1px solid gainsboro;    
    background: #ffffff;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: black;
    text-decoration: none;
    font-family: google;   
    font-size: 18px;
}
.button_red:hover {
     border : 1px solid #e5383e;  
    color: white;
    box-shadow: 0 4px 28px 0 rgba(0,0,0,0.1);  
    background: #e5383e;
}
.login {
    border : 1px solid gainsboro;    
    background: #ffffff;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: black;
    text-decoration: none;
    font-family: google;   
    font-size: 18px;
}
.login:hover {
     border : 1px solid crimson;  
    color: white;
    box-shadow: 0 4px 28px 0 rgba(0,0,0,0.1);  
    background: crimson;
}
.search {
    border : 1px solid gainsboro;    
    background: #ffffff;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: black;
    text-decoration: none;
    font-family: google;   
    font-size: 18px;
}
.search:hover {
     border : 1px solid #00ace6;  
    color: white;
    box-shadow: 0 4px 28px 0 rgba(0,0,0,0.1);  
    background: #00ace6;
}
.teachers {
    border : 1px solid gainsboro;    
    background: #ffffff;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: darkslategrey;
    text-decoration: none;
    font-family: google;   
    font-size: 18px;
}
.teachers:hover {
     border : 1px solid #d24dff;  
    color: white;
    box-shadow: 0 4px 28px 0 rgba(0,0,0,0.1);  
    background: #d24dff;
}
.blue {
    border : 1px solid gainsboro;    
    background: #ffffff;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: black;
    text-decoration: none;
    font-family: google;   
    font-size: 18px;
}
.blue:hover {
     border : 1px solid #0073e6;  
    color: white;
    box-shadow: 0 4px 28px 0 rgba(0,0,0,0.1);  
    background: #0073e6;
}

#presentation{
  width: 480px;
  height: 120px;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  transition: all 0.3s; 
  border-radius: 3px;
}

#presentation:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  transform: translateZ(10px);
}

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}
#floating-button:hover{
      box-shadow: 0 4px 28px 0 rgba(0,0,0,0.3);
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 65px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}

.nd1{
  background: #ffffff;
  right: 40px;
  bottom: 120px;
  animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
}

.nd3{
  background: #ffffff;
  right: 40px;
  bottom: 180px;
  animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
  animation-fill-mode:  forwards;
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{
  
  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:hover .nd3{
  animation-delay: 0.08s;
}
